<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/profile">Profile</a></li>
  </ul>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
    <input formControlName="query" placeholder="Search posts...">
    <button type="submit">Search</button>
  </form>
  <ul class="reg-links">
    <li *ngIf="!authenticated"><a routerLink="/login">Login</a></li>
    <li *ngIf="!authenticated"><a routerLink="/register">Signup</a></li>
    <li *ngIf="authenticated"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
