<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/profile">Profile</a></li>
  </ul>

  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <input formControlName="query" placeholder="Search posts..." class="search-input">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>

  <ul class="reg-links">
    <li *ngIf="!authenticated"><a routerLink="/login">Login</a></li>
    <li *ngIf="!authenticated"><a routerLink="/register">Signup</a></li>
    <li *ngIf="authenticated"><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
  </ul>
</nav>
